.header {
    display: grid;
    grid-template-columns: 1fr 1fr .5fr .5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.form {
  grid-area: 1 / 1 / 2 / 2;
}
.nav-fav {
  grid-area: 1 / 3 / 2 / 4; 
  margin: auto 0 ;
}

.nav-sign-up {
  grid-area: 1 / 4 / 2 / 5;
  margin: auto 0;
}

.nav-btn {
  background-color: black;
  border-color: red;
  color: red;
  font-size: 1.5rem;
  width: 90%;
}

.nav-log-in-btn {
  background-color: black;
  border-color: red;
  color: red;
  font-size: 1.5rem;
  width: 60%;
}

.nav-log-in-btn:hover {
  background-color: red;
  border-color: black;
  color: black;
}

.nav-btn:hover {
  background-color: red;
  border-color: black;
  color: black;
}

.app-name {
  color:red;
  display: flex;
  grid-area: 1 / 2 / 2 / 3;
  justify-content: center;
  font-size: 4rem;
}

.bang {
  color: white;
}

.logged-in-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: red;
}

.user-name {
  color: black;
  margin: 15px 10px;
}

.sign-out-btn {
  background-color: black;
  border-color: red;
  border-radius: 20px;
  color: red;
  font-size: 1.5rem;
  height: 35px;
  margin: 10px;
  width: 150px;
}
