
.log-in-form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.log-in{
  background-color: black;
  border-color: red;
  color: red;
  height: 30px;
  margin: 10px;
  width: 175px;
}

.log-in-btn {
  background-color: black;
  border-color: red;
  border-radius: 20px;
  color: red;
  font-size: 1.5rem;
  height: 35px;
  margin: 10px;
  width: 150px;
}

::placeholder {
  color: red;
  font-size: 15px;
}
